{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
<body class="nav-md">

<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>Fröken Bok</span></a>
        </div>

        <div class="clearfix"></div>
          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>John Doe</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->
          <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>{% trans 'General' %}</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-calculator"></i> {% trans 'Accountant' %} <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="{% url 'accountant:account_list' %}">{% trans 'Accounts' %}</a></li>
                  <li><a href="{% url 'accountant:income_list' %}">{% trans 'Incomes' %}</a></li>
                  <li><a href="{% url 'accountant:expense_list' %}">{% trans 'Expenses' %}</a></li>
                  <li><a href="{% url 'accountant:invoice_list' %}">{% trans 'Invoices' %}</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">General Form</a></li>
                  <li><a href="#">Advanced Components</a></li>
                  <li><a href="#">Form Validation</a></li>
                  <li><a href="#">Form Wizard</a></li>
                  <li><a href="#">Form Upload</a></li>
                  <li><a href="#">Form Buttons</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">General Elements</a></li>
                  <li><a href="#">Media Gallery</a></li>
                  <li><a href="#">Typography</a></li>
                  <li><a href="#">Icons</a></li>
                  <li><a href="#">Glyphicons</a></li>
                  <li><a href="#">Widgets</a></li>
                  <li><a href="#">Invoice</a></li>
                  <li><a href="#">Inbox</a></li>
                  <li><a href="#">Calendar</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">Tables</a></li>
                  <li><a href="#">Table Dynamic</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">Chart JS</a></li>
                  <li><a href="#">Chart JS2</a></li>
                  <li><a href="#">Moris JS</a></li>
                  <li><a href="#">ECharts</a></li>
                  <li><a href="#">Other Charts</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">Fixed Sidebar</a></li>
                  <li><a href="#">Fixed Footer</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">E-commerce</a></li>
                  <li><a href="#">Projects</a></li>
                  <li><a href="#">Project Detail</a></li>
                  <li><a href="#">Contacts</a></li>
                  <li><a href="#">Profile</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a href="#">403 Error</a></li>
                  <li><a href="#">404 Error</a></li>
                  <li><a href="#">500 Error</a></li>
                  <li><a href="#">Plain Page</a></li>
                  <li><a href="#">Login Page</a></li>
                  <li><a href="#">Pricing Tables</a></li>
                </ul>
              </li>
              <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="#">Level One</a>
                    <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                        <li class="sub_menu"><a href="#">Level Two</a>
                        </li>
                        <li><a href="#">Level Two</a>
                        </li>
                        <li><a href="#">Level Two</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Level One</a>
                    </li>
                </ul>
              </li>
              <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="{% trans 'Logout' %}" href="{% url 'logout' %}">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="">John Doe
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a href=""> Profile</a></li>
                <li>
                  <a href="">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                </li>
                <li><a href="">Help</a></li>
                <li><a href="#"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                  <a>
                    <span class="image"><img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="https://pp.userapi.com/c638216/v638216041/a16f/F5hCvCRZ7y4.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /top navigation -->

    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
      <div class="page-title">
        <div class="title_left"><h3>{% block header_large %}{% endblock %} <small>{% block header_small %}{% endblock %}</small></h3></div>
        <div class="title_right pull-right">{% block title_right %}{% endblock %}</div>
      </div>
      {% block content %}
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title"><h2>{% block x_title %}{% endblock %}</h2><div class="clearfix"></div></div>
            <div class="x_content">
              {% block x_content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}
      </div>
    </div>
    <!-- /page content -->

    <!-- footer content -->
    <footer>
      <div class="pull-right">
        Fröken Bok - the electronic housekeeper.
        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>

<!-- jQuery -->
<script src="{% static 'gentelella/vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'gentelella/vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'gentelella/vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'gentelella/vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- jQuery Sparklines -->
<script src="{% static 'gentelella/vendors/jquery-sparkline/dist/jquery.sparkline.min.js' %}"></script>
<!-- morris.js -->
<script src="{% static 'gentelella/vendors/raphael/raphael.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/morris.js/morris.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'gentelella/vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'gentelella/vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'gentelella/vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'gentelella/vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'gentelella/vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'gentelella/vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'gentelella/vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'gentelella/vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'gentelella/vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'gentelella/vendors/DateJS/build/date.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'gentelella/vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<!-- dropzone -->
<script src="{% static 'gentelella/vendors/dropzone/dist/dropzone.js' %}"></script>
<script language="JavaScript">Dropzone.autoDiscover = false;</script>

<!-- js-cookie -->
<script src="{% static 'js.cookie.js' %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static 'gentelella/build/js/custom.min.js' %}"></script>

{% block inline-js %}{% endblock inline-js %}

</body>
{% endblock body %}
